In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import os

# First Dataset - Air Quality - from Github: https://github.com/MainakRepositor/Datasets/tree/f20fd12b065e2aa8d4ee436e984d275655b2de50/Air%20Quality

In [128]:
files = [
    'real_2013_air.csv', 
    'real_2014_air.csv', 
    'real_2015_air.csv', 
    'real_2016_air.csv'
]
df_aq = pd.DataFrame()

In [130]:
for file in files:
    file_path = os.path.join('datasets', file)
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        year = file.split("_")[1]
        df['year'] = year
        df_aq = pd.concat([df_aq, df], ignore_index=True)
    else:
        print("file not exsit!")

df_aq.shape

(731, 10)

In [27]:
df_aq.head()

      T    TM   Tm     SLP   H   VV    V    VM      PM 2.5  year
0   7.4   9.8  4.8  1017.6  93  0.5  4.3   9.4  219.720833  2013
1   7.8  12.7  4.4  1018.5  87  0.6  4.4  11.1  182.187500  2013
2   6.7  13.4  2.4  1019.4  82  0.6  4.8  11.1  154.037500  2013
3   8.6  15.5  3.3  1018.7  72  0.8  8.1  20.6  223.208333  2013
4  12.4  20.9  4.4  1017.3  61  1.3  8.7  22.2  200.645833  2013

In [30]:
df_aq.isna().sum()

T         0
TM        0
Tm        0
SLP       0
H         0
VV        0
V         0
VM        0
PM 2.5    1
year      0
dtype: int64

# Understand the data
- T: temperature
- TM: temperature max
- Tm: temperature min
- SLP: sea level pressure
- H: humidity
- VV: visibility
- V: wind speed
- VM: wind speed max

The quality of this dataset is good; only delete or replace the 1 missing value in the PM2.5 column, and it may not need much more cleaning to do the analysis!

# What can I analyze?
- temperature distribution
- the relation of PM 2.5 and V/VM
- the PM2.5 change of YOY
- 
# the limited
- no area/ address/ countries/ continent

# Second Dataset - Data Science Jobs - from Module3: https://learn.rrc.ca/d2l/le/content/645918/viewContent/10851187/View

In [37]:
df = pd.read_csv('./datasets/Uncleaned_DS_jobs.csv')
df.shape

(672, 15)

In [45]:
df.head(2)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1

In [43]:
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

# Explored data
- remove the index
- categorize the Job Title
- format the Salary Estimate(K to 000, others delete), Job Description(\n delete, lowercase, remove stopwords), Company Name(delete all after letter)
- others may delete or replace

 This is a medium-quality dataset that requires further cleaning. But it is very valuable to do it! Because it is could let me clear to know about the data science job.
 
# What can I analyze?
- salary distribution of different job types
- rating distribution of different companies
- salary distribution of different industries

# Third Dataset - Accidental Drug Related Deaths in Connecticut-2021-2018 - from Data Science Dojo: https://code.datasciencedojo.com/datasciencedojo/datasets/tree/a6fa39d2490c3afd5b5eb24b6f250c13fe8b4f5a/Accidental%20Drug%20Related%20Deaths%20in%20Connecticut,%20US

In [49]:
df_adrd = pd.read_csv('./datasets/Accidental Drug Related Deaths in Connecticut-2012-2018.csv')

In [51]:
df_adrd.shape

(5105, 41)

In [53]:
df_adrd.head()

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

In [55]:
df_adrd.isna().sum()

ID                        0
Date                      2
DateType                  2
Age                       3
Sex                       6
Race                     13
ResidenceCity           173
ResidenceCounty         797
ResidenceState         1549
DeathCity                 5
DeathCounty            1100
Location                 24
LocationifOther        4515
DescriptionofInjury     780
InjuryPlace              66
InjuryCity             1756
InjuryCounty           2741
InjuryState            3681
COD                       0
OtherSignifican        4936
Heroin                 2576
Cocaine                3584
Fentanyl               2873
FentanylAnalogue       4716
Oxycodone              4498
Oxymorphone            4997
Ethanol                3858
Hydrocodone            4987
Benzodiazepine         3762
Methadone              4631
Amphet                 4946
Tramad                 4975
Morphine_NotHeroin     5063
Hydromorphone          5080
Other                  4670
OpiateNOS              5017
AnyOpioid              2639
MannerofDeath            10
DeathCityGeo              0
ResidenceCityGeo         93
InjuryCityGeo            78
dtype: int64

# Understand the data
Column Number
Attribute
Attribute Description
Data Type




1
ID
Row ID
Text


2
Date
Date
Date/Time


3
DateType
Type of Date in Column 2 [Date of Reporting ot Date of Death]
Text


4
Age
Age of Patient
Numeric


5
Sex
Sex of Patient
Text


6
Race
Race of Patient
Text


7
ResidenceCity
City of Residence
Text


8
ResidenceCounty
County of Residence
Text


9
ResidenceState
State of Residence
Text


10
DeathCity
City of Death
Text


11
DeathCounty
County of Death
Text


12
Location
Location of Death [Hospital or Residence]
Text


13
LocationifOther
Location of Death if Not Hospital or Residence
Text


14
DescriptionofInjury
Cause of Death
Text


15
InjuryPlace
Place of Event that caused Death
Text


16
InjuryCity
City of Event that caused Death
Text


17
InjuryCounty
County of Event that caused Death
Text


18
InjuryState
State of Event that caused Death
Text


19
COD
Detailed Cause of Death
Text


20
OtherSignifican
Other Significant Injuries that may have lead to Death
Text


21
Heroin
Drug Found in Body [Y/N]
Text/Bool


22
Cocaine
Drug Found in Body [Y/N]
Text/Bool


23
Fentanyl
Drug Found in Body [Y/N]
Text/Bool


24
FentanylAnalogue
Drug Found in Body [Y/N]
Text/Bool


25
Oxycodone
Drug Found in Body [Y/N]
Text/Bool


26
Oxymorphone
Drug Found in Body [Y/N]
Text/Bool


27
Ethanol
Drug Found in Body [Y/N]
Text/Bool


28
Hydrocodone
Drug Found in Body [Y/N]
Text/Bool


29
Benzodiazepine
Drug Found in Body [Y/N]
Text/Bool


30
Methadone
Drug Found in Body [Y/N]
Text/Bool


31
Amphet
Drug Found in Body [Y/N]
Text/Bool


32
Tramad
Drug Found in Body [Y/N]
Text/Bool


33
Morphine_NotHeroin
Drug Found in Body [Y/N]
Text/Bool


34
Hydromorphone
Drug Found in Body [Y/N]
Text/Bool


35
Other
Drug Found in Body [Y/N]
Text/Bool


36
OpiateNOS
Drug Found in Body [Y/N]
Text/Bool


37
AnyOpioid
Drug Found in Body [Y/N]
Text/Bool


38
MannerofDeath
Manner of Death
Text


39
DeathCityGeo
City of Death
Text


40
ResidenceCityGeo
City of Residence
Text


41
InjuryCityGeo
City of Injury
Text

- This is a bad-quality dataset; there is a lot of missing data, and many columns, and most are in the medical field. But it is a valuable dataset for Machine Learning/predictive modelling!

# What can I analyze?
- accidental drug frequency analysis
- age distribution of accidental drugs
- area distribution of death

# Above, I decided to use the second dataset to analyze. The reason is that the data quality is not bad, I can practise many skills studied during class,such as drop/fill/delete/add/replace/format and so on, and the results of the dataset analysis could help my future career.

In [116]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Dataset_Exploration.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	Dataset_Exploration-Copy1.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [118]:
!git add .

warning: in the working copy of 'Dataset_Exploration.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Dataset_Exploration-Copy1.ipynb', LF will be replaced by CRLF the next time Git touches it

In [120]:
!git commit -m "COMP-2040 Final Project Data Exploration"

[main 140cd9c] COMP-2040 Final Project Data Exploration
 2 files changed, 1724 insertions(+), 532 deletions(-)
 create mode 100644 Dataset_Exploration-Copy1.ipynb

In [122]:
!git push -u origin main

branch 'main' set up to track 'origin/main'.

To https://github.com/YujingZuo123/Comp2040-final_project.git
   0e4bbcd..140cd9c  main -> main